/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --danger: #e5484d;
  --danger-bg: rgba(229, 72, 77, 0.1);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
*/
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --danger: #ff6b70;
    --danger-bg: rgba(255, 107, 112, 0.15);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  font-family: sans-serif;
  max-width: 400px;
  margin: 40px auto;
  padding: 0 16px;
}

h1 {
  text-align: center;
}

#todo-input {
  padding: 8px;
  width: 65%;
}

#add-btn {
  padding: 8px 12px;
  cursor: pointer;
   border-radius: 10px;
   background-color:rgb(142, 204, 206);
  border-color: blue;
  color:black;
}

#add-btn:hover{
  background-color:rgb(29, 116, 119);
  border-color: blue;
  color:white;
}

#filters {
  margin: 16px 0;
  text-align: center;
}

#filters button {
  padding: 6px 10px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 10px;
}

#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

#todo-list span {
  flex-grow: 1;
}

.completata {
  text-decoration: line-through;
  color: #999;
}

#todo-list button {
  cursor: pointer;
  
}